 .image-gallery {
  width:100%;
  height:auto;
 }
.image-gallery .image-gallery-slide img{
     width:100%;
     height:100%;
     max-width:80vh !important;
     object-fit:cover;
     overflow: hidden;
     object-position:center center;
}
.fullscreen .image-gallery-slide img{
    width:100vw !important;
    height:100vh !important;
    max-height: 100vh !important;
    object-fit:contain;
    object-position:center center;
}