.timeline{
    padding:0 !important;
}
.timeline .timeline_header{
    padding:7px;
}
.timeline .timeline_firstItem{
  min-width:80px !important;
}
.timeline .MuiTimeline-root {
    min-height:0px;
}
.timeline .MuiTimelineItem-missingOppositeContent:before {
    display:none;
}
.timeline .timeline_dot_header{
    color:black !important;
    background-color: var(--main-color) !important;
    padding:10px !important;
    font-size:small;
}
/*Remaining Items*/
.timeline .timeline_dot{
    color:black !important;
    border-color: var(--main-color) !important;
    padding:2px !important; 
}
.timeline .seperator_padding{
    padding-left:18px !important;
}
.timeline .timeline_dot_header .MuiSvgIcon-root{
    color:#787878;
    font-size:20px;
}
.timeline .timeline_content{
    padding-top:0px;
    margin-bottom:20px;
}